/* ------------IMAGES---------------*/
.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: .5em;
  border: 2px solid $accent-color;
  @include mq('md'){
    width: 80px;
    height: 80px;
    margin-left: 1em;
  }
  @include mq('lg'){
    width: 90px;
    height: 90px; 
  }
}