/* ------------IMAGES---------------*/
.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 1em;
  border: 2px solid $accent-color;
  @include mq('md'){
    margin-left: 1em;
    width: 105px;
    height: 105px;
  }
  @include mq('lg'){
    width: 110px;
    height: 110px; 
  }
}