//Base Grid Layout for Whole site
.grid-container{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main";
    @include mq('md'){
        max-width: px-to-em(1000px);
        margin: 0 auto;
        padding: 2em;
        display: grid;
        grid-template-columns:  repeat(3, minmax(200px, 40%)); 
        grid-gap: 2.5em 2.5em;
        grid-template-rows: 50% 50% 50% 50%;
        grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "main main main"
        "main main main"
        "main main main"; 
  }    
}

// Grid Area Items
header {
    grid-area: header;
}

main {
    grid-area: main;
    
}




  