

//Base Grid Layout for Main Content
.grid-container{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: repeat(12, minmax(150px, auto));
    grid-gap: 1.5em 1.5em;
    @include mq('md'){
        padding: 2em;
        grid-template-columns:  repeat(2, minmax(200px, 100%)); 
        grid-template-rows: repeat(6, minmax(150px, auto));
  } 
  @include mq('lg'){
    grid-template-columns:  repeat(3, minmax(300px, auto)); 
    grid-template-rows: repeat(4, minmax(200px, auto));
}    
}

.main-wrapper,
.title{
    max-width: 1400px;
    margin: 0 auto; 
    height: 100%;
}




  