.card{
    height: 150px;
    cursor: pointer;
    background: $white;
    @include flex_me($vertAlign: center);
    border-radius: 5px;
    border-top: 4px solid $primary;
    border-bottom: 1px solid $mid-night-darkness;
    border-right: 1px solid $mid-night-darkness;
    border-left: 1px solid $mid-night-darkness;
    &:hover{
        border-top: 4px solid $accent-color;
        transition: .3s ease-in-out;
        background: #CCCBCA;
        color: $mid-night-darkness;
    }
}

.text-container{
    margin-left: 1em;
    @include mq('md'){
        margin-left: 1.2em;
    }
}

#searchBar{
    padding: 2em 0em 0em 2em;
    @include flex_me();
}

#searchBar input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    align-self: center;
    @include mq('md'){
        width: 45%;
    }
    @include mq('lg'){
        width: 25%;
    }
}
#searchBar input:focus{
    border: 1px solid $primary;
    box-shadow: inset 1px 2px 4px rgba(209, 196, 14, 0.01), 0px 0px 8px rgba(209, 196, 14, 0.2);
}



::placeholder{
    padding-left: .5em;
}





