.card{
    height: 150px;
    cursor: pointer;
    background: $white;
    @include flex_me($vertAlign: center);
    border-radius: 5px;
    border-top: 4px solid $primary;
    border-bottom: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
    border-left: 1px solid $accent-color;
    &:hover{
        border-top: 4px solid $accent-color;
        transition: .3s ease-in-out;
        background: $primary-light;
    }
}

.text-container{
    margin-left: 1em;
    @include mq('md'){
        margin-left: 1.2em;
    }
}

.search-wrapper{
    padding: 2em 0em 0em 2em;
}

.search-wrapper input{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    @include mq('md'){
        width: 45%;
    }
    @include mq('lg'){
        width: 25%;
    }
}
.search-wrapper input:focus{
    border: 1px solid $accent-color;
}



::placeholder{
    padding-left: .5em;
}





