.hidden {        
    display: none;    
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.6);
    
}
    
.modal {
    width: 375px;
    margin: 15% auto auto;        
    position: relative;
    text-align: center;       
    background: #fff;
    border: 1px solid #778;       
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-info{
    @include flex_me($dir:column);
}

.modal-avatar{
    width: 40%;
}

.leftPrev{
    @extend %prev-arrow;
}

.rightNext{
    @extend %next-arrow;
}

.modal-close {
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background: $primary-light;
    color: $accent-color;
    outline: none;
}

               