.title{
    font-family: $font-secondary;
    font-size: 1.5em; 
    line-height: 1.5em;
    text-shadow: #FC0 1px 0 10px;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    @include mq('md'){
        font-size: 1.7em; 
       }
    @include mq('lg'){
        font-size: 2em; 
       }   
}

.name{
   font-size: 1.5em; 
   @include mq('md'){
    font-size: 1.4em; 
   }
   @include mq('lg'){
    font-size: 1.35em; 
   }
}

.email,
.address,
.phone,
.bday{
    font-size: .8em;
    margin-top: .5em;
    color: $mid-night-darkness;
    @include mq('md'){
        font-size: .75em; 
       }
    @include mq('lg'){
        font-size: .7em; 
       }
}